.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}
